name: Ruby

on:
  pull_request:
    types: [assigned, opened, edited, synchronize, reopened]
  push:
    branches:
      - 'master'

jobs:
  # pre-spec
  #
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - name: Check out branch
        uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - run: gem install rubocop --no-doc
      - name: Run rubocop
        run: rubocop --format progress --format json --out rubocop.json

  test-ruby-matrix:
    runs-on: ubuntu-latest
    needs: ['rubocop']
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0', '3.1', 'head']

    steps:
    - name: Check out branch
      uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake test
